@import url('https://fonts.googleapis.com/css?family=Quicksand');

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---parallax--*/
.parallax {
    /* The image used */
    background-image: url("img/beyond.jpg");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: translateZ(0);
          transform: translateZ(0);
    will-change: transform;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/beyond.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.nametext {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 600%;
}
/* .nametext:hover {
    color: #FF6B61;
    font-family: Quicksand;
    size: 20;
} */

.section-text{
  color: rgba(27, 20, 100, 1); 
  font-family: Quicksand;
  font-size: 300%;
}
.nametext2 {
    color: white;
    font-family: Quicksand; 
    font-weight: bolder; 
    size: 100%;
}
.nametext2:hover {
    color:rgba(27, 20, 100, 1);
    font-family: Quicksand;
    font-weight: bolder; 
    size: 100%;
}

h2{
  font-family: Quicksand; 
   
  font-size: 150%; 
}

p {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
}

.left {
    text-align: left;
}

.skyblue {
    color:rgba(27, 20, 100, 1);
}
.skyblue:hover {
    color: white ;
}

/* Style buttons */
.btn {
    border: none;
    color:rgba(27, 20, 100, 1);
    cursor: pointer;
    font-family: Quicksand;
    font-weight: bolder;
  }
  
  /* Darker background on mouse-over */
.btn:hover {
    color: #FF6B61
}

.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

.artcontainer {
    position: relative;
    width: 100%;
    background-color: #61A6FF;
  }
  


.artmiddle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.artcontainer:hover .artimage {
opacity: 0.3;
}

.artcontainer:hover .artmiddle {
opacity: 1;
}

.arttext {
    font-family:AbeeZee; 
    color:#FFFFFF;
    font-size: 20px;
}

.artimage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}


 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
 }
 .modalImage {
    margin: auto;
    display: block;
    max-width: 700px;
    max-height: 650px;
 }
 #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
 }
 .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
 }
 .close:hover,
 .close:focus {
    color: rgb(255, 0, 0);
    cursor: pointer;
 }

 .imgrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column2 {
    flex: 50%;
    max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column2 {
    flex: 100%;
    max-width: 100%;
}
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

.transparent{
  background: transparent;
}

.navbar-style{
  font-family: Quicksand;
  font-size: 200%
}

.sky-bg{
  background : linear-gradient(0deg, rgba(251, 176, 59, 1) 0%, rgba(204, 255, 255, 1) 37.22%, rgba(198, 251, 253, 1) 41.63%, rgba(180, 238, 247, 1) 47.76%, rgba(150, 217, 237, 1) 54.9%, rgba(109, 189, 224, 1) 62.81%, rgba(56, 152, 207, 1) 71.24%, rgba(0, 113, 188, 1) 79.24%, rgba(16, 59, 137, 1) 90.84%, rgba(27, 20, 100, 1) 100%);
}

.purple-back{
  margin-top: -10%; 
  margin-left: 10%; 
  width: 100%; 
  height: auto; 
}
.purple-front{
  position: absolute; 
  top:30%;
  width: 80%; 
  height: auto; 
  right: -10%
}

.clouds-home{
  overflow: hidden; 
  position:relative;
  z-index: 1;
  padding-bottom: 30%
}

.about-me{
  position: absolute;  
  margin-top: 10%;
  text-align: center;
  z-index: 2;
  width: 100%;  
  height: 50%;  
}
@media only screen and (max-width: 600px) {
  .about-me {
    position: relative; 
    margin-top: -30%; 
  }
}
.about-text{
  margin-top: 10%; 
  margin-left: 5%; 
  margin-right: 5%;
  color: white; 
}
.avatar{
  border-radius:50%; 
  width: 20%; 
  height: auto; 
}

.home-container{
  display: grid;
  padding-bottom: 10%;
}

.clouds-projects{
  overflow: hidden; 
  position:relative; 
}
.project-container{
  display: grid; 
}
.project-section{
  position: absolute;  
  text-align: center;
  z-index: 2;
  width: 100%;  
  height: 50%;
  
}
.white-back{
  position: relative; 
  width: 105%; 
  height: auto; 
}
.orange-top{
  position: relative; 
  top: -20vh; 
  left: -3%;
  width: 40%; 
  height: auto; 
}

.orange-bottom{
  position: relative; 
  width: 110%; 
  left: -5%; 
}

.clouds-musings{
  position: relative; 
  overflow: hidden; 
}

.musings-text {
  color: rgba(27, 20, 100, 1);
  font-family: Quicksand; 
  font-weight: bolder; 
  font-size: 200%;
}
.musings-text:hover {
  color:rgba(27, 20, 100, 1);
 
}

.musings-title{
  margin-top: 10%
}

